<% layout("/layouts/boilerplate")%>
<style>
    .description{
        margin-top: 1.5rem;
    }
    h3{
        text-align: center;
        
    }

    .btn-submit{
        margin-bottom: 1rem !important;
        margin-top: -1rem !important;
    }

    .comment{
        margin-top: -2rem !important;
    }
    .btns{
        margin-top: -1rem !important;
    }
    .reviewHead{
        text-align: center !important;
        font-size: 1.5rem !important;
    }
    .comm{
        margin-bottom: 1rem !important;
    }
    .tit{
        margin-top: 1rem !important;
    }
    .imgg{
        height: 500px !important;
        width: 700px !important;
    }
</style>
<body>
<div class="row mt-3">
    
    <div class="card col-6 offset-3 show-card listing-card">
        <h3><%= listing.title %></h3>
        <img src="<%= listing.image %>" class="card-img-top show-img imgg" alt="listing image">
        <div class="card-body">
            <p class="card-text description"><b>Description:</b> <%= listing.description %> </p>
            <p class="card-text"></p><b>Price:</b> &#8377;<%= listing.price.toLocaleString("en-IN") %> </p>
            <p class="card-text"></p><b>Contact: </b><%= listing.location %> </p>
            
        </div>
    </div> 
</div>

<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger  offset-5">Delete</button>
    </form>
</div>



<div class="col-8 offset-3 mb-3">
    <hr>
    <!-- <%if(currUser){%> -->
    <h4>Leave a Comment</h4>
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        
        <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating: </label>
        <fieldset class="starability-slot">
            
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3 comment">
            <label for="comment" class="form-label">Comment: </label><br>
            <textarea name="review[comment]" id="comment" cols="92"rows="4" class="form-label" required></textarea>
            <div class="invalid-feedback">Please add sum comment for review!</div>
        </div>
        <button class="btn btn-outline-dark edit-btn btn-submit">Submit</button>
    </form>
    <!-- <%}%> -->
<hr>

<p class="reviewHead"><b>All Reviews</b></p>
<div class="row">
    <%for(review of listing.reviews){%>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title tit"><%= review.author.username %></h5>
                <p class="starability-result" data-rating=<%= review.rating %>></p>
                <p class="card-text comm"><%= review.comment %></p>
            </div>
            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3" method="post">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    <%}%>
</div>
</div>
</body>
